/* ================= NAVBAR ================= */

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:12px 40px;
background:#1B5E20;
color:white;
position:sticky;
top:0;
z-index:1000;
}

.logo-image{
height:40px;
}

.nav-links{
display:flex;
list-style:none;
gap:30px;
}

.nav-links a{
color:white;
text-decoration:none;
font-weight:500;
transition:0.3s;
}

.nav-links a:hover{
color:#A5D6A7;
}


/* ================= FOOTER ================= */

.footer{
background:#1B5E20;
color:white;
text-align:center;
padding:40px 20px;
margin-top:60px;
}

.footer-links{
display:flex;
justify-content:center;
gap:30px;
margin:20px 0;
}

.footer-links a{
color:white;
text-decoration:none;
}

.footer-links a:hover{
color:#A5D6A7;
}

.footer hr{
margin:20px auto;
width:70%;
border:0.5px solid rgba(255,255,255,0.3);
}

.copyright{
font-size:14px;
opacity:0.8;
}